.nav{
    background-image:url("../img/fond.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    display: flex;
    box-sizing:border-box;

    border: 1 px solid white;
    
}
.main article{
    align-content: space-around;
    margin-left: 2%;
    width:50%;
}
.yellow-bloc ,button{
    background-color: yellow;
}
button{
    float: right;

}
.bloc-gray{
    background-color: gainsboro;
    color: white;
    margin-top: 4%;
}
.black-bloc,h4{
    background-color: black;
    color: white;
}